<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://kit.fontawesome.com/f23fb6a3a9.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">

</head>

<body>

    <header>

        <nav class="contenedorhead">
            
            <div class= "logo-mercado-liebre">
            <img width="200" height="200" src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre.svg">
            </div>

            
            <div class="wrap">
                <div class="search">
                <input type="text" class="searchTerm" placeholder="Buscar productos,marcas">
                <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
                </button>
                </div>
            </div>
            

        </nav>

        <p>
        <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
        </p>

        <nav>
            <ul class= "menuizq"> 
                <li><a href="Ofertas">Ofertas</a></li>
                <li><a href="Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li><a href="Vender">Vender</a></li>
                <li><a href="Ayuda">Ayuda</a></li>
            </ul>
        </nav>

        <nav>
            <ul class= "menuizq"> 
                <li><a href="Creá tu cuenta">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="Ingresá">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="Mis compras">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <nav class="burger-menu">
                <i class="fas fa-bars"></i>
        </nav>
        
    </header>

    <main>

        <div class="banner"><img width=100% height=100% src="\img\img-home-banner.jpg" alt="img-home-banner.jpg"></div>

        <section>
            
            <h3 class="titulares">Basado en tu última visita</h3>

                <div class= "palflex">

                    <article class= "producto">
                            <div class="contenedorimg"><img width="128" height="128" src="\img\img-cafetera-moulinex.jpg" alt="limg-cafetera-moulinex.jpg"></div>
                            <div class="textosproductos">
                                <div class="mionca"><i class="fas fa-truck"></i></div>
                                <nav class="contenedor">
                                <p class= "precios">$6.770</p>
                                <div class="desc"><p class= "descuentos">40% off</p></div>
                                </nav>
                                <p class= "descripciones">Cafetera Moulinex</p>
                            </div>
                    </article>        
   
                    <article class= "producto">
                            <div class="contenedorimg"><img width="128" height="128" src="\img\img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019.jpg"></div>
                            <div class="textosproductos">
                                <div class="mionca"><i class="fas fa-truck"></i></div>
                                <nav class="contenedor">
                                <p class= "precios">$230.000</p>
                                <div class="desc"><p class= "descuentos">20% off</p></div>
                                </nav>
                                <p class= "descripciones">MacBook Pro 2019</p>
                            </div>
                    </article>

                    <article class= "producto">
                            <div class="contenedorimg"><img width="128" height="128" src="\img\img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10.jpg"></div>
                            <div class="textosproductos">
                                <div class="mionca"><i class="fas fa-truck"></i></div>
                                <nav class="contenedor">
                                <p class= "precios">$70.500</p>
                                <div class="desc"><p class= "descuentos">10% off</p></div>
                                </nav>
                                <p class= "descripciones">Samsung Galaxy S10</p>
                            </div>
                    </article>

                    <article class= "producto">
                            <div class="contenedorimg"><img width="128" height="128" src="\img\img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart.jpg"></div>
                            <div class="textosproductos">
                                <div class="mionca"><i class="fas fa-truck"></i></div>
                                <nav class="contenedor">
                                <p class= "precios">$23.200</p>
                                <div class="desc"><p class= "descuentos">5% off</p></div>
                                </nav>
                                <p class= "descripciones">SmartTv Samsung 43"</p>
                            </div>
                    </article>
                </div>
        </section>

        <section>
            <h3 class="titulares">Ofertas</h3>

                <div class= "palflex">
    
                    <article class= "producto">
                            <div class="contenedorimg"><img width="128" height="128" src="\img\img-cafetera-moulinex.jpg" alt="limg-cafetera-moulinex.jpg"></div>
                            <div class="textosproductos">
                                <div class="mionca"><i class="fas fa-truck"></i></div>
                                <nav class="contenedor">
                                <p class= "precios">$6.770</p>
                                <div class="desc"><p class= "descuentos">40% off</p></div>
                                </nav>
                                <p class= "descripciones">Cafetera Moulinex</p>
                            </div>
                    </article>

                    <article class= "producto">
                            <div class="contenedorimg"><img width="128" height="128" src="\img\img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019.jpg"></div>
                            <div class="textosproductos">
                                <div class="mionca"><i class="fas fa-truck"></i></div>
                                <nav class="contenedor">
                                <p class= "precios">$230.000</p>
                                <div class="desc"><p class= "descuentos">20% off</p></div>
                                </nav>
                                <p class= "descripciones">MacBook Pro 2019</p>
                            </div>
                    </article>        
    
                    <article class= "producto">
                            <div class="contenedorimg"><img width="128" height="128" src="\img\img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10.jpg"></div>
                            <div class="textosproductos">
                                <div class="mionca"><i class="fas fa-truck"></i></div>
                                <nav class="contenedor">
                                <p class= "precios">$70.500</p>
                                <div class="desc"><p class= "descuentos">10% off</p></div>
                                </nav>
                                <p class= "descripciones">Samsung Galaxy S10</p>
                            </div>
                    </article>    
                </div>
        </section>
    </main>

    <footer>
    
        <div class= "cuerpostexto">
        <div class="iconosfoot"><i class="fas fa-credit-card"></i></div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <div class="textofooter"><p>Con Mercado Liebre Cash,tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p></div>
        </div>

        <div class= "cuerpostexto">
        <div class="iconosfoot"><i class="fas fa-gift"></i></div>
        <h3>Envío gratis desde $ 2.500</h3>
        <div class="textofooter"><p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p></div>
        </div>
    
        <div class= "cuerpostexto">
        <div class="iconosfoot"><i class="fas fa-shield-alt"></i></div>
        <h3>Seguridad, de principio a fin</h3>
        <div class="textofooter"><p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p></div>
        </div>
    
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    
    </footer>

</body>

</html>