footer{
    background-color:white;
    max-width: 90%;
    margin: auto; 
}


.cuerpostexto {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-top: 5px;
}

.textofooter {
    margin: 1px;
}

.iconosfoot {
    font-size: 24px;
    color:#1259c3;
}