header{
    background-color: #EAC926;
}

.contenedorhead {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.search {
    margin: auto;
    width: 10%;
    position: relative;
    display: flex;
}
  
.searchTerm:focus{
    color: #000;
}
  
.wrap{
    width: 300px ;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 25%;
    display: flex;
    box-sizing: border-box;
}
  
.searchButton {
    margin: auto;
    width: 40px;
    height: 36px;
    border: 1px solid #424242;
    background: #ffffff;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
  
.burger-menu {
    background-color:#1259c3;
    color: white;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: auto;
    max-width: 30px;
    padding: 1px;
    border-radius: 3px;
}

.menuizq {
    text-align: left;
    display: none;
}

.logo-mercado-liebre {
    width: 25%;
    display: inline-block;
    text-align: left;
    box-sizing: border-box;
}